body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo i {
    font-size: 2rem;
    color: #e50914;
  }
  
  .logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .search-box {
    display: flex;
    gap: 10px;
  }
  
  #searchInput {
    width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
  }
  
  #searchButton {
    padding: 10px 20px;
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #searchButton:hover {
    background-color: #ff0a16;
  }
  
  main {
    padding: 20px;
  }
  
  h2 {
    color: #e50914;
  }
  
  .movie-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 20px;
  }
  
  .movie-card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .movie-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .movie-card h3 {
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
  }
  /* Filter Section Styling */
.filter-section {
  text-align: center;
  margin: 30px 0;
}

.filter-section label {
  font-size: 1rem;
  margin-right: 10px;
  color: #fff;
}

#movieCategory {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #e50914;
  border-radius: 5px;
  background-color: #222;
  color: white;
  cursor: pointer;
}

#movieCategory option {
  background-color: #222;
  color: white;
}

  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    margin-top: 40px;
  }
  
  #loadMoreButton {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
  }
  